<%-include("partials/header.ejs")  %>
<div class="h">
    <h1>Connect with Us: Let Your Voice Be Heard!</h1>
    <p><%= ccontent %></p>
    <ul>
        <li>
            Email : blog_daily@gmail.com
        </li>
        <li>
            Phone : 07663-54634
        </li>
    </ul>
</div>
    
<%-include("partials/footer.ejs")  %>